*{
    outline: 0.1px solid red;
    font-family: Inter;
    transition: 0.2s;
}
body{
    padding-inline: 3vw;
}
.offers__title{
    text-align: center;
}
.accont{
    display: inline-flex;
    gap: 2vw;
    align-items: end;
}
.offers__container_texts_top{
    display: inline-flex;
    gap: 2vw;
    align-items: end;
}
.account__enter{
    display: none;
}
.offers__container_button{
    background: #0011FF;
    color: #00FF2A;
    border: none;
}
.offers__container_button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.personal__avatar{
    width: 10vw;
    height: 10vw;
}

.personal__avatar_upload_input {
    display: none;
}

.personal__avatar_upload_btn {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 8px;
  background: #111;
  color: #fff;
  cursor: pointer;
}

.personal__avatar_upload_name {
  margin-left: 10px;
  font-size: 14px;
}
.personal_exp{
    display: inline-flex;
}
.accont__image{
    width: 12vw;
    height: 12vw;
}