*{
    outline: 0.1px solid red;
    font-family: Inter;
    transition: 0.2s;
}
body{
    padding-inline: 3vw;
}
.offers__title{
    text-align: center;
}
.accont{
    display: inline-flex;
    gap: 2vw;
    align-items: end;
}
.offers__container_texts_top{
    display: inline-flex;
    gap: 2vw;
    align-items: end;
}
.account__enter{
    display: none;
}
.offers__container_button{
    background: #0011FF;
    color: #00FF2A;
    border: none;
}
.offers__container_button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.personal__avatar{
    width: 10vw;
    height: 10vw;
}